* {
    margin: 0px;
    font-family: Georgia, serif;
}

a {
    font-size: 20px;
    color: gold;
    padding: 2% 3%;
}

header {
    padding: 10px;
    background-color: blueviolet;
    color: gold;
}

h1 {
    margin: 0px 0px -20px -10px;
    padding-left: 50px;
    background-color: gold;
    width: 15%;
    color: blueviolet;
}

nav {
    margin: -16px 5px 0px 0px;
    text-align: end;
}

.hero {
    background-image: url(./images/purp.jpg);
    height: 200px;
    width: 100%;
}

/* .hero h2 {
    background-color: aqua;  
} */

.aboutme , .work {
    margin-top: 1%;
}

hr {
    margin-left: 20px;
    height: 220px;
    width: 5px;
    border-width:0;
    background-color:black;
}

.aboutme {
    display: flex; 
    height: 300px;
}

#aboutme-text {
    padding-left: 20px;
    width: 70%;
}
.section-h2 {
    width: 27%;
    text-align: right;
}

.project {
    background-image: url("https://placehold.co/600x400");
    height: 150px;
    width: 45%;
    padding: 0px;
    margin: 15px;
    border: blueviolet solid 4px;
}
.project-title {
    background-color: blueviolet;
    color: gold;
    width: 120px;
    height: 60px;
    margin-top: -1px;
}

#project-1 {
    width: 94%;
    height: 400px;
    margin-bottom: 5px;
}

#project-container {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
}

.work {
    display: flex;
    height: 800px;
}

#work-line {
    margin-left: 15px;
    height: 100%;
    width: 5px;
    border-width:0;
    background-color:black;
}

footer {
    display: flex;
    color: blueviolet;
    padding: 30px;
    text-align: center;
    margin-top: 1%;
}

#foot-h2 {
    width: 27%;
    text-align: center;
    margin: 30px -50px 0px 56px;
    color: black;
}

#foot-line {
    margin: 2px;
    height: 100px;
}

ul {
    width: 70%;
    list-style: none;
    margin-top: 30px;
}

li, a {
    display: inline;
    font-size: 19px;
    color: gold;
    padding: 1% 1%;
    
}

@media screen and (max-width: 768px) {
    .project {
      width: 100%;
    }
}
  